@use '../base' as *;
@use '../abstracts' as a;
@media screen and (width<a.$md) {
    .dialog-md-lg {
        display: none;
    }
}
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: a.toRem(80);
    padding: a.toRem(18) a.toRem(32);
}
.left-icons {
    display: flex;
    gap: a.toRem(38);
}
.right-icons {
    display: flex;
    gap: a.toRem(34);
}

#hamburger {
    font-size: a.toRem(28);
    color: a.$black-text;
}
#polygon {
    font-size: a.toRem(34);
}
#favourite {
    font-size: a.toRem(44);
}
#bag {
    font-size: a.toRem(34);
}
#profile {
    font-size: a.toRem(34);
}
.dialog {
    width: a.toRem(300);
    height: a.toRem(344);
}
.dialog-items {
    @extend %li;
    padding-left: a.toRem(22);
    padding-top: a.toRem(38);
}
#nav-navigations {
    display: none;
}
#my-bag {
    display: none;
}
#my-profile {
    display: none;
}
.alura-heading {
    display: none;
    @extend %h2;
    color: a.$black-text;
    font-size: 30px;
}

#category-phone {
    color: a.$secondary-color;
    font-weight: 700;
}
.navigation-items {
    @extend %li;
}
#programming {
    background: a.$primary-color;
    color: a.$white-text;
}
@media screen and (width>=a.$md) {
    .navbar {
        padding: a.toRem(25) a.toRem(55);
        padding-right: a.toRem(80);
    }
    #hamburger {
        display: none;
    }
    #favourite {
        display: none;
    }
    #nav-navigations {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: a.toRem(55);
        width: a.toRem(437);
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .alura-heading {
        display: block;
    }
    #profile-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: a.toRem(6);
    }
    #bag-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: a.toRem(6);
    }
    .logo {
        width: a.toRem(246);
        height: a.toRem(40);
    }
    .right-icons {
        gap: a.toRem(60);
    }
    .dialog-md-lg {
        position: fixed;
        left: 36%;
        width: a.toRem(181);
        height: a.toRem(296);
    }
    .dialog-items-tab {
        padding: a.toRem(18) a.toRem(4);
    }
    .dialog {
        display: none;
    }
}
@media screen and (width>=a.$lg) {
    #my-bag {
        display: block;
    }
    #my-profile {
        display: block;
    }
    .dialog-md-lg {
        left: 38%;
    }
}
