//black shade
$black: #000000;

//white shade
$white: #ffffff;

//orange shade
$orange: #eb9b00;

//grapy shade
$neutral-light-gray: #ebecee;
$dark-gray: #474646;
$gray: #858585;

//blue shade
$dark-blue: #002f52;
$cyan-blue: #326589;
