$black: #000000;
$white: #ffffff;
$orange: #eb9b00;
$neutral-light-gray: #ebecee;
$dark-gray: #474646;
$gray52: #858585;
$dark-blue: #002f52;
$cyan-blue: #326589;
$dark-blue-gradient: linear-gradient(
    97.54deg,
    $dark-blue 35.49%,
    $cyan-blue 165.37%
);
