@use '../abstracts/variables' as v;
$media: (
    mobile: v.$sm,
    tablet: v.$md,
    laptop: v.$lg,
);
@mixin font-variant(
    $font-weight,
    $font-color,
    $font-size: 16px,
    $font-family: Poppins,
    $gap: false
) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $font-color;
    line-height: 100%;
    letter-spacing: 0%;
    @if $gap {
        gap: $gap;
    }
}
@mixin flex_item($justify-content, $align-items, $gap, $direction: row) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
    flex-direction: $direction;
}
@mixin mediaQuery($breakpoint) {
    @each $breakpoints, $size in $media {
        @if $breakpoint==$breakpoints {
            @media screen and (min-width: $size) {
                @content;
            }
        }
    }
}
