select:focus-visible {
    border: 2px dashed crimson;
    border-radius: 3px;
    outline: none;
}
a:focus-visible {
    border: 2px dashed crimson;
    border-radius: 3px;
    outline: none;
}
button:focus-visible {
    border: 2px dashed crimson;
    border-radius: 3px;
    outline: none;
    padding: 2px;
}
